<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <!-- v-if, v-else key 있음 -->
    <div id="demo">
      <button v-on:click="show=!show">변경하기</button>
      <transition name="demo" appear mode="out-in">
        <div v-if="show" key="a">TRUE</div>
        <div v-else key="b">FALSE</div>
      </transition>
    </div>

    <!-- v-if, v-else key 없음 -->
    <div id="test">
      <button v-on:click="show1=!show1">변경하기</button>
      <transition name="test" appear mode="out-in">
        <div v-if="show1" >TRUE</div>
        <div v-else>FALSE</div>
      </transition>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js" integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="main.js"></script>
</body>
</html>
